# PostgreSQL
POSTGRES_DB=semapa_demo_db
POSTGRES_USER=semapa
POSTGRES_PASSWORD=semapa123

# API Gateway
APP_PORT=3000
MS_CATALOGOS_URL=http://ms-catalogos:3001
MS_LECTURAS_URL=http://ms-lecturas:3002

# Mobile app (Expo dev server)
MOBILE_APP_HOST_PORT=8081

# Microservicios
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=semapa
DB_PASSWORD=semapa123
DB_DATABASE=semapa_demo_db
